<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/restaurant-list.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="column col-md-6">
                <div class="row">
                    <div class="col-md-1 col-sm-0 col-xs-0"></div>
                    <div class="restaurant-list-scrollable col-md-10 col-sm-12 col-xs-12">
                        <!-- Each restaurant loaded is shown here -->
                        {{#each restaurants as |restaurant| }}
                            <div class="restaurant" tabindex="1">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <h1>{{restaurant.name}}</h1>
                                        <p>{{restaurant.address}}</p>
                                        <p class="rs-rating">{{restaurant.rating}}</p>
                                        <p>Cena malice: &euro;{{restaurant.meal-price}} </p>
                                        <p>DoplaÄilo na bone: &euro;{{restaurant.student-price}}</p>
                                        <p>
                                            {{makeLink "VeÄ o restavraciji" "/restaurantView"}}
                                        </p>
                                        <p>
                                            {{makeLink "Oceni ali komentiraj" restaurant.more}}
                                        </p>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                {{#if restaurant.student }}
                                                    <img class="rs-image-logo" src="/images/student/boni-so.svg" alt="Boni so">
                                                {{else}}
                                                    <img class="rs-image-logo" src="/images/student/boni-niso.svg" alt="Boni niso">
                                                {{/if}}
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4"></div>
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                                <img class="rs-image-logo" src="" alt="Placeholder">
                                            </div>
                                        </div>
                                        <div class="row rs-image-row">
                                            <div class="col-md-12 col-sm-12">
                                                <img class="img-fluid rs-image" src="" alt="Placeholder">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row-fill"></div>
                        {{/each}}

                    </div>
                    <div class="col-md-1 col-sm-0 col-xs-0"></div>
                </div>
            </div>
            <!-- THIS GOOGLE MAPS CONTENT IS A PLACEHOLDER FOR A RESPONSIVE GOOGLE MAPS -->
            <div class="google-maps col-md-6 col-sm-0 col-xs-0">
                <div id="rs-map-container-fluid" class="z-depth-1-half rs-map-container">
                    <iframe src="https://maps.google.com/maps?q=Ljubljana&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>